//
// Images
// --------------------------------------------------

.logo{
  width: 160px;
  @media (min-width: @screen-sm){ width: 200px;}
}


.img-title{
  margin: 0 auto;
}

header span img:not(.nav img){
	margin-left:@margin-base;
}

.bg-home{
	background-image: url('img/home.jpg');
	background-size: cover;
	background-repeat: no-repeat;
    background-position: center center;
	height: 100vh;
	@media (max-width: @screen-xs){
		background-size: 450%;
		background-position: 30% 70%;
	}
}

.bg-opacity{
	background-color: rgba(255, 255, 255, 0.7);
	width: 100%;
	height: 100%;
}

.ico-small{
	width: 35px;
	height: 50px;
}

.return{
	& a{
		color: @primary;
		.bg-primary &{color: @light;}
	}
	& img{ width: 30px; }
}


//Img user

.img-user{
	background-image: url('img/mujer.jpg');
	background-size: cover;
	background-repeat: no-repeat;
    background-position: center center;
}

.bg-opacity-dark{
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding-bottom:100%;
}

<<<<<<< HEAD
.icon-modal--nav{
	float: right;
	padding-top: (@padding-base-vertical*4);
	padding-right: (@padding-small-vertical*3);
}
=======
.hover-hide{
	opacity: 1;
	&:hover,
	&:focus,
	&.focus{
		opacity: 0;
		.transition	
	}
}

.hover-show{

  	&:hover,
	&:focus,
	&.focus{
    	opacity: 1;
    	.show;
  }
}
>>>>>>> 326e89bc8289147c6a83d07dc70411777325a267
