//
// Images
// --------------------------------------------------

.bg-image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.logo{
  background-image: url('../img/logo1.png');
  background-size: cover;
  background-repeat: no-repeat;
  // background-position: center center;
  height: auto;
}
